* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.title-comentarios {
  text-align: center;
}

.content-comentarios {
  margin-top: 2rem;
  border: solid 1px black;
  margin: 0 6rem;
}

.button-emitir{
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  height: 3rem;
}

.nuevo-comentario{
  margin: 2rem;
}

.button-nuevo-comentario{
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  height: 3rem;
}

.button-nuevo-comentario > button{
  width: 10rem;
}