/* table, td{
    border: 1px solid black;
    border-collapse: collapse;
} */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.content-table{
display: flex;
flex-direction: column;
}

tbody > tr > td:nth-child(1){
    padding: 0 1rem;
    text-align: center;
}

tbody > tr > td:nth-child(3) {
    text-align: center;
}